@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4; }

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'; }

hr {
  height: 0;
  color: inherit; }

abbr[title] {
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

table {
  text-indent: 0;
  border-color: inherit; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
select {
  text-transform: none; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

::-moz-focus-inner {
  border-style: none;
  padding: 0; }

:-moz-focusring {
  outline: 1px dotted ButtonText; }

:-moz-ui-invalid {
  box-shadow: none; }

legend {
  padding: 0; }

progress {
  vertical-align: baseline; }

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

summary {
  display: list-item; }

.list {
  list-style: none;
  padding-left: 0;
  margin: 0; }

.link {
  text-decoration: none;
  color: inherit; }

address {
  font-style: normal; }

a {
  list-style-type: none;
  text-decoration: none; }

li {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

h1,
h2,
h3,
p {
  margin-top: 0; }

body {
  font-family: Urbanist;
  font-style: normal; }

.container {
  width: 1106px;
  margin: auto; }

.header {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  padding: 34px 127px;
  align-items: center;
  gap: 156px;
  margin: auto; }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #002935; }
  .header__icon {
    fill: #0D5FF9;
    margin-right: 10px; }

.logo__name {
  color: #002935;
  font-size: 28px;
  font-weight: 600;
  line-height: 150%; }
.logo__name1 {
  color: #002935;
  font-size: 28px;
  font-weight: 700;
  line-height: 150%; }
.logo__list {
  display: flex; }
.logo__item {
  display: inline-flex;
  align-items: center; }
.logo__name {
  display: flex; }

.cours__btn {
  color: var(--Title, #10243C);
  text-align: center;
  font-family: Urbanist;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 60px;
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #ACB5C5;
  padding: 0 38px 0 23px; }
.cours__btn:hover {
  border: 1px solid rgba(13, 95, 249, 0.94); }
.cours__btn:hover .cours__icon {
  fill: #0D5FF9; }

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px; }
.nav__item {
  color: var(--Title, #10243C);
  text-align: center;
  font-family: Urbanist;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  justify-content: center;
  list-style-type: none; }
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #10243C; }
.nav__link:hover {
  color: #0D5FF9; }
.nav__link:hover .nav__icon {
  fill: #0D5FF9; }
.nav__icon {
  fill: #10243C; }

.regist {
  display: flex;
  align-items: center; }
  .regist__icon1 {
    fill: #222222;
    margin-right: 18px; }
  .regist__icon2 {
    fill: #222222;
    margin-right: 33px; }
  .regist__icon1:hover {
    fill: #0D5FF9; }
  .regist__icon2:hover {
    fill: #0D5FF9; }
  .regist__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 158px;
    height: 55px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #ACB5C5;
    color: #222;
    text-align: center;
    font-family: Urbanist;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 0; }
  .regist__btn:hover {
    background-color: #0D5FF9;
    color: aliceblue; }

.hero {
  background-color: #002935;
  max-width: 1920px;
  height: 916px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-image: url("../images/book.svg");
  background-repeat: no-repeat;
  background-size: 101px 85px;
  background-position: top 554px left 217px; }
  .hero__bg-image {
    background-color: #002935;
    background-image: url("../images/heroimg-min.jpg");
    border-radius: 0px 348px 0px 273px;
    background-repeat: no-repeat;
    width: 696px;
    height: 916px;
    background-size: cover; }
  .hero__container {
    display: flex;
    flex-direction: column;
    padding-top: 221px;
    padding-left: 395px; }
  .hero__h1 {
    color: var(--Primary, #0D5FF9);
    font-family: Urbanist;
    font-size: 82px;
    font-style: normal;
    font-weight: 700;
    line-height: 129%; }
  .hero__h {
    color: #FFF;
    font-family: Urbanist;
    font-size: 82px;
    font-style: normal;
    font-weight: 700;
    line-height: 129%;
    margin-bottom: 30px; }
  .hero__h2 {
    margin-bottom: 30px;
    color: #FFF;
    font-family: Urbanist;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 32.5px */
    letter-spacing: 2px;
    text-transform: uppercase; }
  .hero__text {
    color: var(--White, #FFF);
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 174%;
    margin-bottom: 50px; }
  .hero__btn {
    width: 173px;
    height: 55px;
    color: #FFF;
    background: #002935;
    text-align: center;
    font-family: Urbanist;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-radius: 5px;
    border: 1px solid #FFF; }
  .hero__btn:hover {
    background: #0D5FF9;
    color: white;
    border: 1px solid #0D5FF9; }

.btn__curs {
  margin-right: 26px; }

.about {
  width: 1920px;
  margin: auto;
  padding: 80px 0; }
  .about__container {
    margin: auto;
    width: 1150px; }
  .about__feat {
    margin-bottom: 3px;
    color: #0D5FF9;
    text-align: center;
    font-family: Urbanist;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; }
  .about__title {
    margin-bottom: 59px;
    color: #222;
    text-align: center;
    font-family: Urbanist;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; }
  .about__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 27px;
    justify-content: center; }
  .about__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .about__link:hover {
    background-color: #0D5FF9;
    color: #F5F5F5;
    border-radius: 8px;
    background: #0D5FF9;
    box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.04); }
  .about__link:hover .about__text {
    color: #F5F5F5; }
  .about__link:hover .about__icon-container {
    background-color: rgba(0, 0, 0, 0.1); }
  .about__link:hover .about__icon {
    fill: white; }
  .about__link:hover .about__description {
    color: white; }
  .about__item {
    width: 258px;
    border-radius: 8px;
    border: 1px solid #F5F5F5;
    background: #FFF;
    box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.04); }
  .about__icon-container:hover {
    fill: rgba(0, 0, 0, 0.1); }
  .about__icon-container {
    width: 65px;
    height: 65px;
    background-color: #e5f8f8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 29px; }
  .about__icon {
    fill: #0d5ff9; }
  .about__description {
    color: #222;
    text-align: center;
    font-family: Urbanist;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0; }
  .about__text {
    color: #444;
    text-align: center;
    font-family: Urbanist;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 161%;
    margin-top: 10px;
    margin-bottom: 42px; }

.skill {
  width: 1920px;
  margin: auto;
  padding: 72px 400px 72px 977px;
  position: relative;
  background-image: url("../images/ball1.svg"), url("../images/angle1.svg"), url("../images/angle2.svg"), url("../images/ballsmall.svg"), url("../images/ball2.svg");
  background-repeat: no-repeat;
  background-position: top 329px left 251px,  top 80px left 638px, top 498px left 600px, top 79px left 1657px, top 411px left 1753px; }
  .skill__img1 {
    position: absolute;
    z-index: 2;
    top: 114px;
    left: 396px;
    background-image: url("../images/onemen.jpg");
    background-repeat: no-repeat;
    width: 311px;
    height: 317px;
    background-size: cover;
    border-radius: 45px;
    border: 9px solid #FFF; }
  .skill__img2 {
    position: absolute;
    z-index: 1;
    top: 250px;
    left: 634px;
    background-image: url("../images/company.jpg");
    background-repeat: no-repeat;
    width: 311px;
    height: 317px;
    background-size: cover;
    border-radius: 45px;
    border: 9px solid #FFF; }
  .skill__title2 {
    color: #0D5FF9;
    font-family: Urbanist;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 4px; }
  .skill__title {
    color: #222;
    font-family: Urbanist;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 21px; }
  .skill__text1 {
    color: #444;
    font-family: Urbanist;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 172%; }
  .skill__box {
    display: flex;
    gap: 30px; }
  .skill__box-text {
    width: 298px; }
  .skill__icon {
    fill: #0d5ff9;
    margin-top: 12px; }
  .skill__descriptio {
    color: #000;
    font-family: Urbanist;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 172%;
    margin-bottom: 5px; }
  .skill__text2 {
    color: #444;
    font-family: Urbanist;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 172%;
    margin-top: 5px; }
  .skill__button {
    width: 172px;
    height: 55px;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-family: Urbanist;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-radius: 5px;
    background: #FFF;
    border: 1px solid #ACB5C5;
    color: #222; }
  .skill__button:hover {
    border-radius: 5px;
    background: #0D5FF9;
    color: white; }

.trusted {
  width: 1920px;
  margin: auto;
  position: relative;
  padding: 55px 0; }
  .trusted__title {
    overflow: hidden;
    text-align: center; }
  .trusted__title h3 {
    /* Стили тега обертки для заголовков 
    ** в несколько строк */
    display: inline-block;
    vertical-align: middle; }
  .trusted__title:before, .trusted__title:after {
    /* Обязательно указываем пустое свойство content, 
    ** иначе псевдоэлементы не появятся на сайте */
    content: "";
    /* Указываем что наши линии будут строчно-блочные и 
    ** выравнивание по высоте - по центру */
    display: inline-block;
    vertical-align: middle;
    /* Задаем ширину 100% или ту которая надо, и выбираем высоту линии, 
    ** в нашем примере она равна 1 пиксель */
    width: 80px;
    height: 1px;
    /* Добавляем цвет для линии */
    background-color: #0D5FF9;
    /* Добавляем пседоэлемантам возможность изменить 
    ** позицию линии, для создания отступов от текста */
    position: relative; }
  .trusted__title:before {
    /* Смещаем левую линию на 100% влево, чтобы линия 
    ** встала рядом с текстом слева */
    margin-left: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    left: -30px; }
  .trusted__title:after {
    /* Смещаем правую линию на 100% вправо, чтобы 
    ** линия встала рядом с текстом справа */
    margin-right: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    right: -30px; }
  .trusted__text {
    color: #222222;
    text-align: center;
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 0; }
  .trusted__text2 {
    color: #0d5ff9;
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 0; }
  .trusted__list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 31px;
    margin-top: 52px; }
  .trusted__item {
    width: 255px;
    height: 114px;
    border-radius: 8px;
    border: 2px solid #E9EEF4;
    background: #FFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .trusted__box {
    width: 55px;
    height: 55px;
    padding: 0;
    position: absolute;
    z-index: 1;
    border-radius: 50px;
    border: 2px solid #E9EEF4;
    top: -25px;
    left: -25px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .trusted__icon {
    fill: #0d5ff9; }

.box-text {
  color: #222;
  text-align: center;
  font-family: Urbanist;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.8px; }

.box-text2 {
  color: #444;
  text-align: center;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1.8px; }

.box1 {
  background: #f5f4ff; }

.box2 {
  background: #feeff1; }

.box3 {
  background: #fff6e8; }

.box4 {
  background: #e5f8f8; }

.courses {
  width: 1920px;
  margin: auto;
  padding: 56px 0; }
  .courses__title {
    color: #0D5FF9;
    font-family: Urbanist;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; }
  .courses__title2 {
    color: #222;
    font-family: Urbanist;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 71px; }
  .courses__box {
    display: flex;
    justify-content: space-between; }
  .courses__list {
    display: flex;
    justify-content: center;
    gap: 29px;
    margin: 0;
    padding: 0; }
  .courses__item {
    padding: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.04);
    position: relative; }
  .courses__img {
    object-fit: cover;
    height: 100%;
    border-radius: 8px;
    margin-bottom: 32px;
    height: 251px; }
  .courses__price {
    max-width: 103px;
    padding: 3px 20px;
    background-color: #0D5FF9;
    border-radius: 5px 25px;
    position: absolute;
    left: 18px;
    top: 18px; }
  .courses__btn {
    display: flex;
    gap: 20px; }

.price__text {
  color: #FFF;
  text-align: center;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 156%; }

.solutions__button {
  width: 48px;
  height: 48px;
  border: 1px;
  border-radius: 50px;
  padding: 10px;
  background: #0F2B5A; }

.solutions__button:hover {
  background-color: #0d5ff9; }

.btn-icon {
  fill: white; }

.raiting-icon {
  fill: gold; }

.star-box {
  display: flex;
  align-items: center;
  margin-left: 18px;
  margin-bottom: 16px;
  margin-top: 0;
  gap: 6px;
  padding: 0; }

.span-text {
  color: #444;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 30px;
  margin: 0;
  padding: 0; }

.descr__list {
  display: flex;
  gap: 14px;
  padding: 0;
  margin-left: 16px; }

.descr__item {
  display: flex; }

.descr__icon {
  fill: #0d5ff9;
  margin-right: 7px; }

.image1 {
  border-radius: 32px;
  object-fit: cover;
  height: 32px; }

.name {
  margin: 0;
  color: #000;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-left: 13px; }

.prof-1 {
  margin: 0;
  color: #0D5FF9;
  text-align: right;
  font-family: Urbanist;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-left: 100px; }

.prof-2 {
  margin: 0;
  color: #0D5FF9;
  text-align: right;
  font-family: Urbanist;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-left: 82px; }

.prof-3 {
  margin: 0;
  color: #0D5FF9;
  text-align: right;
  font-family: Urbanist;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-left: 119px; }

.student {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 19px;
  border-top: 1px solid whitesmoke; }

.student-title {
  margin-left: 18px;
  color: #222;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 146%; }

.raiting-icon {
  fill: gold; }

.categories {
  width: 1920px;
  margin: auto;
  padding: 60px 82px; }
  .categories__title1 {
    color: #0D5FF9;
    text-align: center;
    font-family: Urbanist;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 3px; }
  .categories__title2 {
    color: #222;
    text-align: center;
    font-family: Urbanist;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 46px; }
  .categories__list {
    display: flex;
    gap: 27px;
    flex-wrap: wrap; }
  .categories__item {
    max-width: 258px;
    height: 254px;
    border-radius: 8px;
    border: 2px solid #E9EEF4;
    background: #FFF;
    align-items: center; }
  .categories__icon {
    border: 50%;
    background-color: #f2f6fa; }
  .categories__descr {
    color: #222;
    text-align: center;
    font-family: Urbanist;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; }
  .categories__quantity {
    color: #444;
    text-align: center;
    font-family: Urbanist;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; }

.categories__item:hover .categories__icon {
  background-color: #0d5ff9; }

/*# sourceMappingURL=main.css.map */
