.header {
    max-width: 1920px;
    display: flex;
    justify-content: center;
    padding: 34px 127px;
    align-items: center;
    gap: 156px;
    margin: auto;
    &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #002935;
}
    &__icon {
    fill: #0D5FF9;
    margin-right: 10px;
}
// .logo:hover .header__icon{
//     fill: 0D5FF9;
// }
}
.logo {
    &__name {
    color: #002935;
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;

}
    &__name1 {
    color: #002935;
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
}
    &__list {
    display: flex;
}
    &__item {
    display: inline-flex;
    align-items: center;
}
    &__name {
    display: flex;
}
}
.cours {
    &__btn {
    color: var(--Title, #10243C);
    text-align: center;
    font-family: Urbanist;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 60px;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #ACB5C5;
    padding: 0 38px 0 23px;
}
    &__btn:hover {
    border: 1px solid rgba(13, 95, 249, 0.94);
}
    &__btn:hover &__icon{
    fill: #0D5FF9;
}
}
.nav {
    &__list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}
    &__item {
    color: var(--Title, #10243C);
    text-align: center;
    font-family: Urbanist;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    justify-content: center;
    list-style-type: none;
    // margin-right: 30px;
}
// .nav__item:last-child {
//     margin-right: 0;
// }
    &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #10243C;
}
    &__link:hover {
    color: #0D5FF9;
}
    &__link:hover .nav__icon {
    fill: #0D5FF9;
}
    &__icon {
    fill: #10243C;
}
}
.regist {
    display: flex;
    align-items: center;
    &__icon1 {
    fill: #222222;
    margin-right: 18px;
}
    &__icon2 {
    fill: #222222;
    margin-right: 33px;
}
    &__icon1:hover {
    fill: #0D5FF9;
}
    &__icon2:hover {
    fill: #0D5FF9;
}
    &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 158px;
    height: 55px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #ACB5C5;
    color: #222;
    text-align: center;
    font-family: Urbanist;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 0;
}
    &__btn:hover {
    background-color: #0D5FF9;
    color: aliceblue;
}
}