.skill {
    width: 1920px;
    margin: auto;
    padding: 80px 0;
}
.skill-container {
    margin: auto;
    width: 1150px;
}
.skill-title2 {
    color: #0D5FF9;
    font-family: Urbanist;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
